{{page-title "Making buttons out of anchors - part 1"}}

<a href="https://www.auditboard.com/">AuditBoard</a>

<a {{on "click" this.hi}}>
  + Add
</a>

<button {{on "click" this.hi}}>
	A real button
</button>