{{page-title "No Invalid Interactive"}}

<p>Notice how pressing Space or Enter doesn't perform the action. Only VO + Space.</p>

<div {{on "click" this.doSomething}}>Add</div>
<div role="button" {{on "click" this.doSomething}}>Remove</div>