{{page-title "Invalid Link Text"}}

<p>
  If you want to learn why it is bad practice to make buttons out of anchors, go
  <LinkTo @route="buttons-out-of-anchors-part-1">
    here
  </LinkTo>
  to learn more. If you want to learn why we shouln't remove CSS outlines, go
  <LinkTo @route="css-outlines">
    here
  </LinkTo>
</p>

