{{page-title "Valid Alt Text on images"}}

<h2>Bad</h2>

<img src="/images/david-ember.jpg">
<img src="/images/kittens.jpg" alt="Image of David's kittens">

<h2 class="mt-5">Good</h2>

<img src="/images/david-on-vacation.jpg" alt="David laying on a hammock in the Maldives">